@model IEnumerable<TH_TMĐT.Models.BaiBao>
@{
    ViewBag.Title = "NewsManagement";
    Layout = "~/Views/Shared/_StaffSharedLayout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Danh sách tin tức</h1>
    <a href="/Admin/AddNews" class="btn btn-success btn-circle">
        <i class="fas fa-plus"></i>
    </a>
    @*<a href="#" class="btn btn-danger btn-circle">
            <i class="fas fa-trash"></i>
        </a>*@
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh Sách Các Bài Báo</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="table_doitac" class="table table-striped dataTable">
                    <colgroup>
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">
                        <col style="width: 10%">

                    </colgroup>
                    <thead>
                        <tr>
                            <th>Mã Bài</th>
                            <th>Loại Báo</th>
                            <th>Tiêu đề</th>
                            <th>Nội Dung</th>
                            <th>Hình Ảnh</th>
                            <th>Ngày đăng</th>
                            <th>Ngày sửa</th>
                            <th>Tình trạng</th>
                            <th>Tuỳ chỉnh</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (TH_TMĐT.Models.BaiBao tin in Model)
                            {
                                <tr>
                                    <td>@tin.MaBao</td>
                                    <td>@tin.LoaiBaiBao.TenLoai</td>
                                    <td>@tin.TieuDe</td>
                                    <td>@tin.NoiDung</td>
                                    <td>
                                        <img src="@Url.Content(tin.HinhAnh)" alt="Hình ảnh" />
                                    </td>
                                    <td>@tin.NgayDang</td>
                                    <td>@tin.NgaySua</td>
                                    <td>@tin.TinhTrang.TenTinhTrang</td>
                                    <td><a href="/Admin/EditNews/@tin.MaBao">Sửa</a>&nbsp;|&nbsp;<a href="/Admin/DeleteNews/@tin.MaBao" )">Xóa</a></td>
                                </tr>
                            }
                        }
                    </tbody>
            </div>
        </div>
    </div>

</div>

