@model TH_TMĐT.Models.BaiBao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BaiBao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiBaiBao.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiBaiBao.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang.TenTinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang.TenTinhTrang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaBao }) |
    @Html.ActionLink("Back to List", "Index")
</p>
